<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/private/main.css">
</head>

<body>
    <div class="main-wrapper">
        <left>
            <ul>
                <% for(let i=0; i < userMenu.length; i++) { %>
                    <li>
                        <a class="editor"  
                            onblur="updateMenuItem(event)" 
                            data-action="/menu/updateMenuItem"
                            href=<%- userMenu[i].alias %>
                            data-id=<%- userMenu[i]._id %>>
                            <%= userMenu[i].title %>
                        </a>
                        <button onclick="editMenuItem(event)">✏</button>
                        <button 
                            onclick="deleteMenuItem(event)" 
                            data-action="/menu/deleteMenuItem" 
                            data-id=<%- userMenu[i]._id %>>
                            x
                        </button>
                    </li>
                <% } %>
            </ul>
            <form class="form" onsubmit="postRequest(event)" action="/menu/newMenuItem" method="POST" enctype="multipart/form-data">
                <label><input type="text" name="title" placeholder="Title" required></label>
                <label><input type="text" name="alias" placeholder="Alias" required></label>
                <input type="submit" value="Add new">
            </form>
        </left>
        <main>
            <h1>Dashboard</h1>
            <button onclick="getRequest(event)" data-action="/auth/logout">Logout</button>
        </main>
    </div>

    <script src="/main.js"></script>
    <script src="/private/auth.js"></script>
    <script src="/private/menu.js"></script>
</body>
</html>